.videoFooter {
    position: relative;
    bottom: 20%;
    color: white;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    margin-left: 30px;
}

.videoFooter-text h3 {
    padding-bottom: 20px;
}

.videoFooter-text p {
    padding-bottom: 20px;
}

.videoFooter-music {
    display: flex;
}

/* .videoFooterIcon {
    border: 1px solid green;
} */

.videoFooterMusicTitle {
    /* border: 1px solid green; */
    width: 80%;
    overflow-x: hidden;
}

.videoFooterMusicTitle p{
    
    animation: moveText 3s linear infinite;
}

.videoFooter-record {
    animation: spinTheRecord 3s infinite linear;
    position: absolute;
    bottom: 5px;
    right: 20px;
    height: 50px;
    filter: invert(1);
}

.logoPrincipal {
    position: absolute;
    bottom: 1400px;
    left: -10px;
    width: 200px;
}

@keyframes spinTheRecord {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 628px) {
    .videoFooter{
      bottom: 22%;
    }
    .videoFooter-text {
        width: 89%;
    }
  }

  @media only screen and (max-width: 321px) {
    .videoFooter{
      bottom: 27%;
    }
    .videoFooter-text {
        width: 69%;
    }
  }