html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: rgb(43, 43, 43);
  height: 100vh;
  display: grid;
  place-items: center;
}

.app-videos {
  height: 800px;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde Chrome, Safari e Opera */
.app-videos::-webkit-scrollbar {
  display: none;
}

/* Esconde Internet Explorer, Edge, Firefox */
.app-videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Responsividade */
@media only screen and (max-width: 628px) {
  .app-videos{
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 504px) {
  .app-videos{
    width: auto;
    height: 100vh;
  }
}


@media only screen and (max-width: 440px) {
  .app-videos{
    width: auto;
    height: 100vh;
  }
}



@media only screen and (max-width: 321px) {
  .app-videos{
    height: 800px;
    max-height: 800px;
  }
}
